body {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  background-color: #FFFFFF;
  max-width: 1440px;
  font-family: "Roboto";
  color: #121212;
  margin: auto;
}
@media screen and (max-width: 980px) {
  section {
    max-width: 980px;
    width: 980px;
  }
}

main {
  position: relative;
  max-width: 980px;
  height: 330px;
  margin: auto;
  margin-top: 95px;
}
@media screen and (max-width: 980px) {
  main {
    max-width: 980px;
    width: 980px;
    height: auto;
  }
}

img {
  position: relative;
  max-width: 50%;
  height: 330px;
  float: left;
}
@media screen and (max-width: 980px) {
  img {
    max-width: 980px;
    width: 980px;
    height: auto;
    float: none;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

section main div {
  position: relative;
  max-width: 40%;
  height: 330px;
  float: left;
  margin-left: 10%;
}
@media screen and (max-width: 980px) {
  section main div {
    max-width: 100%;
    width: 100%;
    height: auto;
    float: none;
    margin-left: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

p.title {
  font-weight: 700;
  font-size: 42px;
}
@media screen and (max-width: 980px) {
  p.title {
    font-size: 84px;
  }
}

p.text {
  font-weight: 300;
  font-size: 16px;
}
@media screen and (max-width: 980px) {
  p.text {
    font-size: 32px;
  }
}

div button {
  padding: 16px 40px;
  width: 128px;
  height: 48px;
  background: #E4C1AE;
  border-radius: 32px;
  border-width: 0;
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  line-height: 0px;
}
@media screen and (max-width: 980px) {
  div button {
    width: 256px;
    height: 96px;
    font-size: 32px;
  }
}

section div#over {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

section div#over div#popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
  width: 60%;
  height: 200px;
  background-color: #FFFFFF;
  z-index: 2;
}

section div#over div#popup p {
  padding-left: 10%;
}
@media screen and (max-width: 980px) {
  section div#over div#popup p {
    padding-left: 10%;
  }
}

@media screen and (max-width: 980px) {
  section div#over div#popup p.title {
    font-size: 250%;
  }
}

@media screen and (max-width: 980px) {
  section div#over div#popup p.text {
    font-size: 120%;
  }
}

span {
  font-size: 30px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  color: #121212;
}

span:hover {
  cursor: pointer;
}

div button:hover {
  cursor: pointer;
}