body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #FFFFFF;
  max-width: 1440px;
  font-family: "Roboto";
  color: #121212;
  margin: auto;
}
main div#content {
  width: 980px;
  margin: auto;
  margin-top: 95px;
}
main div#content img {
  max-width: 50%;
  float: left;
}
main div#content div#right {
  max-width: 40%;
  float: left;
  margin-left: 10%;
}
main p.title {
  font-weight: 700;
  font-size: 42px;
}
main p.text {
  font-weight: 300;
  font-size: 16px;
}
main button#button, main button#reset {
  width: 128px;
  height: 48px;
  font-size: 16px;
  background: #E4C1AE;
  border-radius: 32px;
  border-width: 0;
  font-family: "Roboto";
  font-weight: 700;
  color: white;
  text-align: center;
}
main div#over {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: all 1s;
}
main div#popup {
  position: absolute;
  top: -50%;
  transform: translateY(-50%);
  left: 20%;
  width: 60%;
  height: auto;
  background-color: #FFFFFF;
  z-index: 2;
  transition: top 1s;
  padding-bottom: 20px;
}
main div#popup p {
  padding-left: 30px;
  width: 50%;
}
main div#popup p.text {
  float: left;
}
main div#popup button#close {
  font-size: 32px;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  color: #121212;
  border: 0;
  background-color: #FFFFFF;
}
main div#popup button#reset {
  float: right;
  margin-right: 30px;
}
main div button:hover {
  cursor: pointer;
}
@media (max-width: 980px) {
  main div#content {
    width: 80%;
  }
  main div#content img {
    max-width: 100%;
  }
  main div#content div#right {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }
  main div#popup {
    width: 90%;
    left: 5%;
    padding-bottom: 10px;
  }
  main div#popup p {
    padding-left: 5%;
  }
  main div#popup button#close {
    margin-right: 5%;
    margin-top: 5%;
    font-size: 6vw;
  }
  main p.title {
    font-size: 6vw;
  }
  main p.text {
    font-size: 4vw;
  }
  main button#button, main button#reset {
    width: 30vw;
    height: 10vw;
    font-size: 4vw;
    margin-top: 5%;
  }
}