$background: #FFFFFF;
$primary: #E4C1AE;
$text: #121212;
$font: "Roboto";
$maxwidth: 980px;



body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    background-color: $background;
    max-width: 1440px;
    font-family: $font;
    color: $text;
    margin: auto;
}

main {
    position: relative;
    max-width: 980px;
    height: 330px;
    margin: auto;
    margin-top: 95px;

    @media screen and (max-width: $maxwidth) {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

img {
    position: relative;
    max-width: 50%;
    height: 330px;
    float: left;

    @media screen and (max-width: $maxwidth) {
        max-width: $maxwidth;
        width: $maxwidth;
        height: auto;
        float: none;
        margin: auto;
        padding: 50px;
    }
}

div {
    position: relative;
    max-width: 40%;
    height: 330px;
    float: left;
    margin-left: 10%;

    @media screen and (max-width: $maxwidth) {
        max-width: 100%;
        width: 100%;
        height: auto;
        float: none;
        margin-left: auto;
        padding: 50px;
    }
}

div p#title {
    font-weight: 700;
    font-size: 42px;
}

div p#text {
    font-weight: 300;
    font-size: 16px;
}

div button {
    padding: 16px 40px;

    width: 128px;
    height: 48px;

    background: $primary;
    border-radius: 32px;
    border-width: 0;

    font-family: $font;
    font-weight: 700;
    color: white;
    line-height: 0px;
}

div button:hover {
    cursor: pointer;
}