$background: #FFFFFF;
$primary: #E4C1AE;
$text: #121212;
$font: "Roboto";
$maxwidth: 980px;

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: $background;
    max-width: 1440px;
    font-family: $font;
    color: $text;
    margin: auto;
}

div#content {
    width: $maxwidth;
    margin: auto;
    margin-top: 95px;
}

img {
    max-width: 50%;
    float: left;
}

div#right {
    max-width: 40%;
    float: left;
    margin-left: 10%;
}

p.title {
    font-weight: 700;
    font-size: 42px;
}

p.text {
    font-weight: 300;
    font-size: 16px;
}

button#button, button#reset {
    width: 128px;
    height: 48px;
    font-size: 16px;
    background: $primary;
    border-radius: 32px;
    border-width: 0;
    font-family: $font;
    font-weight: 700;
    color: white;
    text-align: center;
}

div#over {
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 1;
    transition: all 1s;
}

div#popup {
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
    left: 20%;
    width: 60%;
    height: auto;
    background-color: $background;
    z-index: 2;
    transition: top 1s;
    padding-bottom: 20px;
}

div#popup p {
    padding-left: 30px;
    width: 50%;
}

div#popup p.text {
    float: left;
}

button#close {
    font-size: 32px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    color: $text;
    border: 0;
    background-color: $background;
}

button#reset {
    float: right;
    margin-right: 30px;
}

@media (max-width: $maxwidth){
    img{
        max-width: 100%;
    }

    div#content{
        width: 80%;
    }

    div#right {
        max-width: 100%;
        width: 100%;
        margin: auto;
    }

    div#popup {
        width: 90%;
        left: 5%;
        padding-bottom: 10px;
    }

    div#popup p {
        padding-left: 5%;
    }

    p.title {
        font-size: 6vw;
    }

    p.text {
        font-size: 4vw;
    }

    button#close {
        margin-right: 5%;
        margin-top: 5%;
        font-size: 6vw;
    }

    button#button, button#reset {
        width: 30vw;
        height: 10vw;
        font-size: 4vw;
        margin-top: 5%;
    }
}

div button:hover {
    cursor: pointer;
}